*~
.DS_Store

*/.vagrant

ansible/.share
ansible/data/site.retry
aws/*/logs/
cassandra/.cassandra
hadoop/.data/

.gradle/
build/

__pycache__
*.pyc
.pytest_cache/
venv/
.eggs/
*.egg-info

*.iml
.idea/
target/

site
