*~
.DS_Store

*/.vagrant

ansible/.share
ansible/data/site.retry
cassandra/.cassandra
hadoop/.data/
aws/venv
aws/aws.egg-info

.gradle/
build/

__pycache__
*.pyc
.pytest_cache/

*.iml
.idea/
target/

site
